.fade-enter {
  transform: translateY(100%);
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}

/* Make sure your route elements have a defined height and are block-level or flex items */
.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
