.chat-bubble {
    padding: 10px 15px;
    border-radius: 15px;
    margin: 10px;
    max-width: 70%;
    align-self: flex-start;
  }
  
  .user {
    background-color: #218aff;
    align-self: flex-end;
    color:rgb(255, 255, 255)f;
  }
  
  .assistant {
    background-color: #d8d8d8;
  }
  